*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #365B6D;
    --cor-secundaria: #99D9D9;
    --brando-primario: #FFFFFF;
    --branco-gelo: #F2F2F0;
    --marron-claro: #C6C1BC;
    --marron-primario: #A58272;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    
}

    body{
    background-image: url(Assets/Fundo_de_pagina.jpg);
    background-size:cover;  
}

wrapper{
    padding: 0 0 0 6rem;
}

a, li{
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content:center;
    align-items:center;
    padding-right: 13%;
    
}

.header ul{
    display: flex;
    gap: 7rem;
    align-items: center;
}

.login {
    font-family: 'Montserrat', sans-serif;
}

.telaLogin{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    gap:  15px;

    margin-top: 20px;
    margin-left: 55rem;
}


butao email {
    width: 414px;
height: 43.71px;

filter: drop-shadow(0px 4.14px 4.14px rgba(0, 0, 0, 0.25));
border-radius: 20.7px;
}

#esqueceuSenha{
    font-size: x-small;
}

.semCadastro{
    font-size:x-small;
    display:flex;
    align-content: center;
    padding-left: 40%;
}

.redesSociais ol{
    display:flex;
    flex-direction: row;
    align-content:center;
    gap:  15px;
    margin-left: 120rem;
    
}

#logar{
    color: #365B6D;
  padding: 15px 45px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.button-91 {
  color: #365B6D;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}